{% extends 'project/base.html' %}
{% load static %}
{% block title %}Reset{% endblock title%}
{% block contact %}

<div id="body" >
	<div class="header" style="color:white;">
		<div class="article">
			<h1>Enter new password</h1>

			<h3>Please enter your new password twice so we can verify you typed it in correctly.</h3>

			<form method="post">

				{% csrf_token %}
				{{form}}
				<input type="Submit" name="Update Password">Submit
				
			</form>
		</div>
	</div>
</div>
{% endblock contact %}