{% extends 'project/base.html' %}
{% load static %}
{% block title %}About us{% endblock title%}

{% block contact %}


<div id="body" class="about">
    <div class="header">
        <div>
            <h1>About</h1>
            <h2>Arab Mars Club for Astronomy and Space</h2>
            <p>Is an initiative by ambitious young boys and girls form all around the Arabic world to spread the
                knowledge of astronomy and astrophysics, where we work hard to leave a notable influence in the growth
                of this field in Saudi Arabia all to the Arabic gulf and the Arabic world as whole. </p>
        </div>
    </div>
    <div class="body">
        <div>
            <img src="{% static 'project/images/earth-satellite.jpg' %}" alt="">
            <h2>AMCAS club's objectives and highlights:</h2>
            <br>
            <br>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: 24px; line-height: 1.6;">- Spreading awareness to the astrology and all its subcategories.</p>
            <br>
            <br>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: 24px;line-height: 1.6;">- Preparing informative events that specialize in cosmology science around the arabic world with the
                organization and participation of the club's members.</p>
            <br>
            <br>

            <p style="font-family: 'Times New Roman', Times, serif; font-size: 24px; line-height: 1.6;">- Generating a distinctive footprint that takes part in the upcoming development in Saudi arabia
                regarding cosmology science as well as other arabic countries.</p>
            <br>
            <br>
        </div>
    </div>
    <div class="footer">
        <div>
            <img src="{% static 'project/images/space-shuttle.png' %}" alt="">
            <h2>AMCAS club's objectives and highlights:</h2>
            <br>
            <br>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: 24px; line-height: 1.6;">- Improving or correcting the common misinterpretation of facts with unproven theories revolving around
                cosmology matter.</p>
            <br>
            <br>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: 24px; line-height: 1.6;">- Aims toward the continuous improvement of: personal skills, special experience, and innovation of Amcas
                club's members.</p>
            <br>
            <br>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: 24px; line-height: 1.6;">- To the amcas club achieving its goals for the development of the Scientific informations in
                general.</p></div>
        <br>
        <br>
    </div>
    <div class="section" style="background-color: gray;">
        <div>
            <br>
            <img style="display: block; margin-left: auto; margin-right: auto; width: 100%;"
                 src="{% static 'project/images/logora.jpeg' %}" alt="">

        </div>
    </div>
</div>

{% endblock contact %}