{% extends 'project/base.html' %}
{% load static %}
{% block title %}Adrastea{% endblock title%}

{% block contact %}


<div id="body">
			<div class="header">
				<div>
					<h1>Adrastea</h1>
					<img src="{% static 'project/images/jupitarmoon1.jpg' %}" alt="">
                    <br/>

                    <h2>Discovery</h2>
                    <p>Adrastea was discovered in July 1979 by the Voyager science team.
                    </p>

					<h2>In Depth</h2>
                    <p>Orbiting within Io's orbit, which is the innermost of the four largest moons of Jupiter (called the Galilean moons), are four smaller moons named Metis, Adrastea, Amalthea, and Thebe.
                    </p>
                    <p>All the moons within this grouping are oddly shaped, lacking either the mass and/or fluidity of composition to pull themselves into a reasonably spherical shape. The Galileo spacecraft has revealed some surface features, including impact craters, hills and valleys.
                    </p>
                    <p>Adrastea is the smallest within this group having a mean radius of about 8.2 ± 2.0 km. Adrastea orbits 129,000 km from its parent planet Jupiter and it takes 0.298 Earth days for Adrastea to complete one orbit. We do not know the rotational period for Adrastea, but its orbital period is 7 hours.
                    </p>
                    <p>Since Io orbits about 422,000 km above Jupiter and, at this close distance, is subjected to extreme tidal flexing from Jupiter's gravity, one would imagine that this even closer satellite would be pulled to pieces. However, because it is so small Adrastea is relatively immune to the effects of tidal forces. Adrastea is one of the two closest moons (the other is Metis) that orbit inside what is called the synchronous orbit radius of Jupiter. That is, Adrastea orbits Jupiter faster than Jupiter rotates on its axis. At this distance, Adrastea's orbit will eventually decay and it will fall into the planet.
                    </p>
                    <p>Adrastea and Metis also orbit inside Jupiter's main ring and are undoubtedly the source of the material for this ring. Amalthea and Thebe provide the material for the Gossamer ring.​
                    </p>


                    <h2>How Adrastea Got its Name</h2>
                    <p>Adrastea is named after the Cretian nymph who took care of Zeus for his mother Rhea. Rhea entrusted her child to Adrastea to save him from her husband Cronus who would eat his children in order to maintain his rule.
                        <p/>



                    <ul>
                <li>
                    <div>
                        <a href="{% url 'jupitarMoon' %}" class="more">Previous Page</a></div>

                    <div ><br/>
                        <a href="{% url 'planets' %}" class="more">Planets Page</a>
                    </div>

                    <div><br/>
                        <a href="https://solarsystem.nasa.gov/moons/jupiter-moons/adrastea/in-depth/"
                           class="more">Reference</a>
                    </div>
                </li>


            </ul>


                </div>
			</div>
		</div>

{% endblock contact %}