{% extends 'project/base.html' %}
{% load static %}
{% block title %}Thank You{% endblock title%}

{% block contact %}

<div id="body">
			<div class="header">
				<div class="contact">
                    {% if user.is_authenticated %}
					<h1>Thank You {{ request.user }}</h1>
                    {% else %}
                    <h1>Thank You</h1>
                    {% endif %}
					<h2>Your message has been submitted.</h2>
                </div>
                <div>
                        <a href="{% url 'blog' %}" class="more">Contact Page</a></div>
                
                <div>
                        <a href="{% url 'home' %}" class="more">Home</a></div>
            </div>
    <div class="section" style="background-color: gray;">
        <div>
            <br>
            <img style="display: block; margin-left: auto; margin-right: auto; width: 100%;"
                 src="{% static 'project/images/logora.jpeg' %}" alt="">

        </div>
    </div>
</div>
{% endblock contact %}