{% extends 'project/base.html' %}
{% load static %}
{% block title %}Nasa News{% endblock title%}

{% block search %}
<form class=" my-2 my-lg-0" action="{% url 'blog' %}">
    <input style="width: 300px; height: 30px;" class="form-control mr-sm-2" type="search"   placeholder="search" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock search %}
{% block contact %}
	<div id="body">
			<div class="header">
				<div>
					<h1>Nasa News</h1>
					<div class="article">
						<ul>
							{% for x in var_2.all %}


								<h1>{{x.title}}<br/><br/>
								<a href="{% url 'detail1' x.id %}"><img src="{{x.image.url}}" alt=""></a>
								</h1>
								<span>{{x.date}}</span><br/>
								<p>{{x.summary}}</p>
							<li>
								<a href="{% url 'detail1' x.id %}" class="more">Read More</a>
							</li>
							{% endfor %}
							<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

						</ul>
					</div>

				</div>
			</div>
		</div>



{% endblock contact %}