{% extends 'project/base.html' %}
{% load static %}
{% block contact %}


<div id="body">
    <div class="header">
        <div>
            <h1>Larissa</h1>
            <img src="{% static 'project/images/neptunemoon3.jpg' %}" alt="">
            <br/>

            <h2>Overview</h2>
            <p>Larissa is another of the small moons found near Neptune's faint ring system in 1989. Like Despina and
                Galatea, Larissa is irregularly shaped and heavily cratered.</p>
            <p>Larissa's orbit is mostly circular, but it is slowly spiraling inward and may eventually impact Neptune's
                atmosphere, or the gas giant's tidal forces may break Larissa apart to form a planetary ring. The moon
                orbits Neptune in about 13 hours and 20 minutes.</p>


            <h2>Discovery</h2>
            <p>Although it was initially spotted by H. Reitsema, W. Hubbard, L. Lebofsky, and D. Tholen through
                ground-based telescopes in 1981, Larissa was officially discovered in July 1989 by the Voyager 2 science
                team.</p>

            <h2>How Larissa Got its Name</h2>
            <p>Larissa was a nymph from Greek mythology. The moon was originally designated S/1989 N 2.</p>
            <ul>
                <li>
                    <div>
                        <a href="{% url 'neptuneMoon' %}" class="more">Previous Page</a></div>

                    <div><br/>
                        <a href="{% url 'planets' %}" class="more">Planets Page</a>
                    </div>

                    <div><br/>
                        <a href="https://solarsystem.nasa.gov/moons/neptune-moons/larissa/in-depth/"
                           class="more">Reference</a>
                    </div>
                </li>


            </ul>


        </div>
    </div>
</div>

{% endblock contact %}