{% extends 'project/base.html' %}
{% load static %}
{% block title %}Add post{% endblock title%}

{% block contact %}

<div id="body">
			<div class="header">
				<div class="contact">
					<h1>ADD A POST</h1>
					<form method="post">
                                {{ post_form.as_p }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                            </form>
				</div>
			</div>
		</div>
{% endblock contact %}