{% extends 'project/base.html' %}
{% load static %}
{% block title %}{{ detail_blog1.title }}{% endblock title%}

{% block contact %}



<div id="body">
			<div class="header">
				<div>
					<h1>{{ detail_blog1.title }}</h1>
					<div class="article">
						<img src="{{detail_blog1.image.url}}" alt="">

						<span>{{ detail_blog1.date }}</span>
						<p style="font-family: 'Times New Roman', Times, serif; font-size: 24px; line-height: 1.6;">{{ detail_blog1.body }}</p>
					</div>
					<div class="sidebar">
                <div class="article">
						<ul>

							<li>
								<h1>RECENT POSTS</h1>
								<ul>
                                    {% for post in posts %}
									<li>
										<h2>{{ post.title }}</h2>
										<span>{{ post.date }}</span>
                                        <a href="{% url 'detail' post.id %}" class="more">Read More</a>
									</li>
                                    {% endfor %}
								</ul>

							</li>

						</ul>
                    </div>
					</div>

				</div>
			</div>
		</div>

{% endblock contact %}